In [49]:
# Dependencies
import os
import csv
import pandas as pd
import numpy as np
import requests
import json
import gmaps

# Configure gmaps
gmaps.configure(api_key=gkey)

# Google API Key
from config import gkey

In [50]:
# Import cities file as DataFrame
data_file3="Resources/Enrolments.xlsx"
data_file3_df= pd.read_excel(data_file3)
data_file3_df.head()

,Operational Area,State,2016 Total,2017 Total,2018 Total,2019 Total,2020 Total,Total Enrolments
0,Metropolitan North,NSW,187025.7,191916.3,196533.2,200698.8,206306.5,982480.5
1,Metropolitan South,NSW,163389.8,166117.4,167045.2,168067.5,170187.3,834807.2
2,Regional North,NSW,123225.2,123446.0,123982.8,124175.0,125385.9,620214.9
3,Regional South,NSW,134578.1,137437.9,138727.8,140119.5,142350.6,693213.9
4,Rural North,NSW,95305.2,94827.8,94485.0,94270.9,93455.2,472344.1

In [51]:
# Add columns for lat, lng, 

data_file3_df["Lat"] = ""
data_file3_df["Lng"] = ""

In [52]:
data_file3_df.head()

,Operational Area,State,2016 Total,2017 Total,2018 Total,2019 Total,2020 Total,Total Enrolments,Lat,Lng
0,Metropolitan North,NSW,187025.7,191916.3,196533.2,200698.8,206306.5,982480.5,,
1,Metropolitan South,NSW,163389.8,166117.4,167045.2,168067.5,170187.3,834807.2,,
2,Regional North,NSW,123225.2,123446.0,123982.8,124175.0,125385.9,620214.9,,
3,Regional South,NSW,134578.1,137437.9,138727.8,140119.5,142350.6,693213.9,,
4,Rural North,NSW,95305.2,94827.8,94485.0,94270.9,93455.2,472344.1,,

In [55]:
# create a params dict that will be updated with new Area each iteration
params = {"key": gkey}

# Loop through the data_file3_df and run a lat/long search for each Area
for index, row in data_file3_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    Area= row['Operational Area']
    state = row['State']
    

    # update address key value
    params['address'] = f"{ Area},{state}"

    # make request
    Area_lat_lng = requests.get(base_url, params=params)
    
    # print the Area_lat_lng url
   
    
    # convert to json
    Area_lat_lng =  Area_lat_lng.json()

    data_file3_df.loc[index, "Lat"] = Area_lat_lng["results"][0]["geometry"]["location"]["lat"]
    data_file3_df.loc[index, "Lng"] = Area_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
#data_file3_df.head()

In [56]:
# Save Data to csv
data_file3_df.to_csv("Resources/Enrolments_Output.csv")

# Visualize to confirm Operational Area data appears
data_file3_df.head(10)

,Operational Area,State,2016 Total,2017 Total,2018 Total,2019 Total,2020 Total,Total Enrolments,Lat,Lng
0,Metropolitan North,NSW,187025.7,191916.3,196533.2,200698.8,206306.5,982480.5,-28.330455,153.401756
1,Metropolitan South,NSW,163389.8,166117.4,167045.2,168067.5,170187.3,834807.2,-33.946973,151.047833
2,Regional North,NSW,123225.2,123446.0,123982.8,124175.0,125385.9,620214.9,-29.275815,153.014758
3,Regional South,NSW,134578.1,137437.9,138727.8,140119.5,142350.6,693213.9,-34.872368,150.603151
4,Rural North,NSW,95305.2,94827.8,94485.0,94270.9,93455.2,472344.1,-28.810108,153.291297
5,Rural South and West,NSW,86814.9,86500.7,86805.7,86282.8,86186.5,432590.6,-34.306068,148.27919

In [57]:
data_file3_df.dtypes

Operational Area     object
State                object
2016 Total          float64
2017 Total          float64
2018 Total          float64
2019 Total          float64
2020 Total          float64
Total Enrolments    float64
Lat                  object
Lng                  object
dtype: object

In [58]:
# Store latitude and longitude in locations
locations = data_file3_df[["Lat", "Lng"]]

# Fill NaN values 
Total_Enrolments= data_file3_df["Total Enrolments"]

In [59]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Total_Enrolments, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Plot Heatmap
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Total_Enrolments, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Plot Heatmap
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Total_Enrolments, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))